* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    margin: 40px;
}

main {
    display: flex;
    background-color: white;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#profileSection {
    width: 35%;

    margin: 10px;

    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}





.my-details-container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;


}

#profile-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

#contact-info-container {
    margin-top: 10px;

    padding: 10px;

}

.profile {
    width: 354px;
}

.icon {
    font-size: 22px;
    padding-right: 50px;
    color: #01473ede;
}

.linkedin-img {
    height: 33px;
    padding-right: 16px;
    color: #01473ede;
    fill: #01473ede;
}

.heading {
    font-size: 17px;
    font-weight: 600;
}

.skills-section {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-top: 10px;
    padding: 10px;
}

.skills-icon {
    font-size: 30px;
    color: #01473ede;
    padding-right: 50px;


}

.skills-heading {
    font-weight: 700;
    font-size: 22px;
}

.skills div {
    font-size: 18px;
    font-weight: 600;

}

.skill-icon {

    height: 20px;
    padding-left: 15px;
    padding-right: 20px;



}

#languages-section {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

.language {
    margin-left: 20px;
}

#myName {
    display: flex;
    align-items: center;
    
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-top: 10px;
    padding: 10px;
    width: 40vw;
    padding-left: 25px;
    background-color: #01473ede;
    color: white;


}

#work-experience-section {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-top: 10px;
    padding: 10px;
    width: 40vw;
    padding-left: 25px;


}


.work-exp-icon {
    font-size: 38px;
    color: #01473ede;
    padding-right: 10px;
}

.work-heading {
    font-size: 33px;
    font-weight: 500;
    color: #01473ede;

    padding-left: 20px;
    padding-bottom: 10px;
}

.exp-title {
    font-size: 25px;
    color: #757575 !important;
    padding-bottom: 10px;
    font-weight: 500;

}

.date-icon {
    padding-right: 35px;
    font-size: 20px;
}

.exp-details h6 {
    color: #01473ede;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}

.job-status {
    background-color: #01473ede;
    color: white;
    padding: 7px;
    border-radius: 10px;
}

.experiences li {
    margin-bottom: 30px;
}

#education-section {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-top: 10px;
    padding: 10px;
    width: 40vw;
    padding-left: 25px;

}

.edu-icon {
    color: #01473ede;
    padding-right: 60px;
}

#education-section h2 {
    color: #01473ede;
    font-weight: 500;
    margin-top: 20px;

}